body {
  background:#eee;
  color:#444;
  font-size:12px;
  line-height:150%;
  font-family: Helvetica;
}

h1 {color:#FF8F00; font-size:30px; line-height:60px; margin-top:0;}

body, ul {margin:0; padding:0}

ul {list-style:none;}
ul li {padding:3px 0;}
a {color:#000; text-decoration:none;}
a:hover {color:blue;}
button {cursor:pointer;}

.container {margin:0 auto; width:960px;}

#header, #menu, #content, #footer {float:left; width:900px; padding:20px 30px; background:#fcfcfc;}

#title  a {display:block; float:left; text-indent:-9999px; background:url('logo.png'); width:175px; height:140px;}

#menu {background:#ff8a00; border:1px solid #ff9314; padding:7px 30px; border-left:0; border-right:0;}
.nav {float:left;}
.nav li {float:left;}
.nav a {color:#fff; font-size:15px; margin-right:17px; text-transform:uppercase; border-bottom:2px solid #ff8a00;}
.nav a:hover {border-bottom:2px solid #fff;}
#footer{font-size: 10px;}
